body#mint-page {
  overflow: hidden;
}

body#mint-page section#main-content {
  margin-bottom: 2rem;
}

.mint-box {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  background-color: #222222ee;
  height: 500px;
  width: 400px;
  text-align: center;

  padding: 2rem;
  line-height: 1.5em;
  z-index: 20;
}

.mint-buttons button,
.mint-buttons input {
  color: #f34b4b;
}

.mint-buttons {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.mint-buttons input {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  border: white;
  text-align: center;
  font-size: 2rem;
}

.mint-buttons button {
  width: 2rem;
  border-radius: 4px;
  border: white;
  font-size: 2rem;
  cursor: pointer;
}

.mint-box h1 {
  line-height: 2em;
}
.mint-box button {
  cursor: pointer;
}

#mint-txt {
  background: white;
}

.btn.connect {
  margin-bottom: 1rem;
}

#main-content.mint {
  margin-bottom: 10rem;
}

#block {
  width: 100vw;
  height: 100vh;
  background: #222222aa;
  filter: blur(100px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
}

.mint-box span {
  color: #f34b4b;
  font-weight: 700;
}

/*Mint Btn is disabled while not connecting wallet yet*/
.btn.buy-now.disable {
  filter: grayscale(100%);
  cursor: default;
}
