* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courgette", cursive;
  /* overflow-x: hidden; */
}

.hero {
  background: url("assets/bg-herobanner.png");
  background-size: 100vw;
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 240px;
}

.hero .image {
  flex: 1 1 40%;
  padding: 0 10vw 0 0;
}

.hero .image img {
  width: 100%;
}

.hero .title {
  flex: 1 1 60%;
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: white;
  padding-top: 5vw;

  /* margin: auto 0; */
}

.hero .title .title-background {
  position: relative;
}

.hero .title .title-background::after {
  background-color: #e6007e;
  content: "";
  position: absolute;
  width: 100%;
  height: 84%;
  top: 8%;
}

.hero .title .title-1 {
  padding-left: 6vw;
}

.hero .title .title-2 {
  padding-left: 10vw;
}

.hero .title .title-1,
.hero .title .title-2 {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1300px) and (min-width: 981px) {
  .hero {
    padding-top: 150px;
  }

  .hero .title {
    font-size: 3.5rem;
  }
}

/* iPad Pro */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .hero {
    max-height: 650px;
  }
}

@media only screen and (max-width: 980px) {
  .hero {
    background: url("assets/bg-herobanner-mobile.png");
    background-size: cover;
    height: 80vh;
    flex-wrap: wrap;
    padding-top: 100px;
  }
  .hero > div {
    flex: 1 1 100% !important;
  }
  .hero .title {
    font-size: 10vw;
    padding-top: 0px;
    margin-top: -140px;
  }
  /*.hero .title {
   width: 100%;
   font-size: 2.5rem;
   margin-top: 39vh;
 }
 .hero .title .title-1 {
   top: -1.5rem;
 }
 .hero .title .title-2 {
   top: 3.5rem;
 }*/
  .hero .image {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    order: -1;
  }

  .hero .image img {
    width: 80%;
    float: right;
    /*width: 76%;
   top: 10vh;
   right: 1rem;*/
  }
}

@media only screen and (max-width: 320px) {
  .hero .title {
    margin-top: -60px;
  }
}

#section-2 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

#section-2 img.imgdot {
  width: 276px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#section-2 img.stripe {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#section-2 .content {
  background-color: #c6c6c630;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  font-size: 44px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  margin-top: 100px;
}

.sub {
  color: #9b9b9b;
  text-align: left;
  font-size: 2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 980px) {
  #section-2 {
    margin-top: 30px;
    padding-bottom: 150px;
  }

  #section-2 .content {
    margin: 0 auto;
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  #section-2 img.imgdot {
    left: -238px;
  }

  .sub {
    font-size: 1.2rem;
  }
}

#section-about {
  padding-top: 8rem;
  position: relative;
}

#section-about h2 {
  text-align: center;
  color: #162e4e;
  margin-bottom: 3rem;
}

#section-about p {
  margin-top: 1rem;
}

#section-about #section-about-square-1 {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

#section-about #section-about-square-2 {
  position: absolute;
  top: 4rem;
  left: 0px;
  color: #009fe3;
}

#section-about #section-about-footer {
  margin-top: 3rem;
  margin-left: -5rem;
  justify-content: space-between;
  display: flex;
}

#section-about #section-about-footer .dots .dot {
  margin-right: 1rem;
}

#section-about-footer-right {
  position: relative;
}

#section-about-footer-right #section-about-square-3 {
  right: 5rem;
  top: 3rem;
  position: absolute;
  transform: rotate(15deg);
}

#section-about-footer-right #section-about-square-4 {
  transform: rotate(15deg);
}

@media only screen and (max-width: 980px) {
  #section-about {
    margin: 0 1.5rem;
  }

  #section-about .about-right {
    font-size: 1rem;
  }

  #section-about #section-about-footer {
    margin-left: 0rem;
  }

  #section-about-footer-right #section-about-square-3 {
    right: 2rem;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: space-around;
}

.flex .about-left {
  width: 40%;
}

.flex .about-right {
  width: 60%;
  align-self: flex-end;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.about-text {
  font-size: 1.5rem;
  color: #9299a4;
  text-align: center;
}

.savecats-img {
  width: 100%;
}

#section-aboutshowoff {
  padding-bottom: 5rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 8rem;
}

#section-aboutshowoff h2 {
  color: #e6007e;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#section-aboutshowoff p {
  font-size: 1.5rem;
  color: #9299a4;
}

#section-aboutshowoff .about-img {
  width: 50%;
  border-radius: 50%;
}

#section-aboutshowoff .aboutshowoff-right {
  width: 60%;
  margin-bottom: 3rem;
}

#section-aboutshowoff .aboutshowoff-left {
  width: 40%;
  padding-left: 3rem;
}

#section-aboutshowoff #pink-dots {
  position: absolute;
  right: -10rem;
  top: 5rem;
  height: 90%;
}

#section-aboutshowoff .square.pink {
  position: absolute;
  left: 10rem;
  top: 3rem;
  height: 2rem;
  width: 2rem;
}

#section-aboutshowoff .square.darkblue {
  position: absolute;
  left: 15rem;
  bottom: 7rem;
}

@media only screen and (max-width: 980px) {
  #section-aboutshowoff {
    padding: 5rem 1.5rem 3rem 1.5rem;
  }

  #section-aboutshowoff h2 {
    font-size: 2.2rem;
    text-align: center;
  }

  #section-aboutshowoff p {
    font-size: 1rem;
  }

  #section-aboutshowoff .aboutshowoff-left {
    width: 100%;
    padding-left: 0rem;
    padding-bottom: 2rem;
  }

  #section-aboutshowoff .aboutshowoff-right {
    width: 100%;
    font-size: 1rem;
  }

  #section-aboutshowoff #pink-dots {
    height: 30%;
    right: -7rem;
    bottom: 1rem;
    top: unset;
  }

  #section-aboutshowoff .square.pink {
    left: 1rem;
  }

  #section-aboutshowoff .square.darkblue {
    left: 4rem;
    bottom: unset;
    top: 6rem;
  }
}

@media only screen and (max-width: 980px) {
  #section-rarity {
    margin: 0 1.5rem;
  }

  #section-rarity .about-right {
    font-size: 1rem;
  }
}

#section-roadmap {
  background: url("assets/bg-section-1.png"), #e3e3e3;
  background-size: cover;
  padding: 5rem 10rem 6rem 10rem;
  text-align: center;
}

#section-roadmap img.colordot {
  margin-right: auto;
  margin-left: auto;
  width: 130px;
  display: block;
}

#section-roadmap h3 {
  font-size: 2rem;
  margin-top: 2rem;
}

#section-roadmap .vl {
  border-left: 2px solid black;
  height: 550px;
  margin: 0 auto;
  width: 2px;
  position: absolute;
  left: 50%;
}

@media only screen and (max-width: 980px) {
  #section-roadmap {
    padding: 5rem 1rem 6rem 1rem;
  }
}

@media only screen and (max-width: 1106px) {
  #section-roadmap .vl {
    height: 650px;
  }
}

@media only screen and (max-width: 646px) {
  #section-roadmap .vl {
    height: 730px;
  }
}

@media only screen and (max-width: 528px) {
  #section-roadmap .vl {
    height: 780px;
  }
}

@media only screen and (max-width: 488px) {
  #section-roadmap .vl {
    height: 880px;
  }
}

@media only screen and (max-width: 420px) {
  #section-roadmap .vl {
    height: 980px;
  }
}

@media only screen and (max-width: 380px) {
  #section-roadmap .vl {
    height: 1100px;
  }
}

@media only screen and (max-width: 366px) {
  #section-roadmap .vl {
    height: 1300px;
  }
}

@media only screen and (max-width: 290px) {
  #section-roadmap .vl {
    height: 1700px;
  }
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.timeline ul li {
  list-style-type: none;
}

.timeline-item {
  width: 50%;
  position: relative;
  margin-top: 2rem;
}

.timeline-item p {
  font-size: 1.2rem;
}

.timeline-item-left {
  text-align: right;
  padding-right: 30px;
}

.timeline-item-left .dot {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 20px;
  right: -10px;
}

.timeline-item-right {
  margin-left: 50%;
  text-align: left;
  padding-left: 30px;
}

.timeline-item-right .dot {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: -9px;
}

.section-flex {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}

@media only screen and (max-width: 980px) {
  .section-flex {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

h2 {
  font-size: 2.2rem;
}

#section-savecats {
  background-image: url(assets/cloud.png);
  padding: 10rem 0rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70rem;
  position: relative;
  margin-bottom: 10rem;
}

#section-savecats h2 {
  text-align: center;
  color: #009fe3;
  margin-bottom: 3rem;
}

#section-savecats p {
  text-align: center;
  padding: 0rem 20rem;
  font-size: 1.5rem;
  color: #181818;
}

#section-savecats #section-savecats-grey-dot {
  position: absolute;
  top: 0px;
  left: -3rem;
}

#section-savecats-yellow-dot {
  position: absolute;
  width: 20%;
  right: 0px;
}

#section-savecats-green-stripe {
  position: absolute;
  width: 30%;
  left: -10rem;
  bottom: -3rem;
}

/* #section-savecats .savecats-left .green-stripe {
  width: 50%;
  margin-left: -10rem;
  margin-top: 4rem;
}

#section-savecats .savecats-right .savecats-img {
  position: relative;
  z-index: 10;
  width: 70%;
}

#section-savecats .savecats-right .savecats-yellowdot {
  position: absolute;
  bottom: 0px;
  right: -10rem;
  width: 300px;
}

#section-savecats .savecats-right .colordot {
  width: 50%;
  display: block;
  margin-top: 3rem;
} */

@media only screen and (max-width: 980px) {
  #section-savecats {
    padding: 8rem 3rem;
    display: block;
    overflow-x: hidden; /* avoid the scrolling */
    overflow-y: hidden;
    margin-bottom: 3rem;
    background-size: 60rem;
  }

  #section-savecats p {
    padding: 0rem;
    font-size: 1rem;
  }

  #section-savecats #section-savecats-grey-dot {
    left: -15rem;
  }

  #section-savecats-yellow-dot {
    width: 50%;
  }

  /* #section-savecats .savecats-left {
    width: 100%;
    padding: 0rem;
  }

  #section-savecats .savecats-right {
    width: 100%;
  } */
}

#section-team {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  position: relative;
}

#section-team-dots {
  width: 300px;
  position: absolute;
  right: 1rem;
  top: 4rem;
}

#section-team h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#section-team .team-list {
  flex-wrap: wrap;
  margin-top: 3rem;
}

#section-team .team-intro {
  font-size: 1.2rem;
}

.team-list .team-info {
  width: 25%;
  margin-top: 1rem;
}

.team-list .team-info .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.team-list .team-info img {
  width: 50%;
  border-radius: 50%;
}

#section-team .bluedot {
  position: absolute;
  left: 0rem;
  top: 10rem;
  width: 100px;
  z-index: -1;
}

#section-team #section-logo-semi-circle {
  position: absolute;
  right: 0px;
}

@media only screen and (max-width: 980px) {
  #section-team {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #section-team .team-list {
    margin-top: 3rem;
  }

  .team-list .team-info {
    width: 50%;
    margin-bottom: 1.5rem;
  }

  #section-team .bluedot {
    left: -4rem;
  }
}

#section-logo {
  justify-content: space-around;
  padding: 10rem 20rem;
  position: relative;
  overflow: hidden;
}

#section-logo #section-logo-semi-circle {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@media only screen and (max-width: 980px) {
  #section-logo {
    padding: 10rem 3rem;
  }

  #section-logo #section-logo-semi-circle {
    right: -7rem;
    bottom: -3rem;
  }
}

/* @media only screen and (max-width: 767px) {
  #section-logo #section-logo-semi-circle {
    right: -7rem;
  }
} */

#section-follow {
  padding: 5rem 20rem;
}

#section-follow .flex {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

#section-follow {
  text-align: center;
}

#section-follow h2 {
  color: #e6007e;
  text-align: center;
  margin-bottom: 1rem;
}

#section-follow p {
  margin-bottom: 2rem;
}

#section-follow .discord img {
  margin-top: 3px;
  width: 44px;
}

@media only screen and (max-width: 980px) {
  #section-follow {
    padding: 0rem 3rem;
    margin-top: 3rem;
  }
}

#section-disclamier {
  padding: 3rem 20rem;
}

@media only screen and (max-width: 980px) {
  #section-disclamier {
    text-align: center;
    padding: 3rem 0rem 1rem 0rem;
  }
}

#section-utility h2 {
  text-align: center;
  margin: 3rem 0 0 0;
}

#section-whitelist {
  font-size: 1.5rem;
  padding-top: 3rem;
}

#section-whitelist h2 {
  color: #e6007e;
  margin-bottom: 3rem;
  text-align: center;
}

#section-whitelist p {
  text-align: center;
  color: #9299a4;
  padding: 0rem 10rem;
  margin-bottom: 3rem;
}

/* #section-whitelist .whitelist-left {
  width: 40%;
}

#section-whitelist .whitelist-right {
  width: 60%;
  text-align: right;
}

#section-whitelist .whitelist-img {
  width: 100%;
} */

@media only screen and (max-width: 980px) {
  #section-whitelist {
    padding: 3rem;
    display: block;
  }

  #section-whitelist p {
    padding: 0rem;
    font-size: 1rem;
  }

  /* #section-whitelist .whitelist-left {
    width: 100%;
  }

  #section-whitelist .whitelist-right {
    width: 100%;
  } */
}

#section-inspiration {
  margin: 3rem 10rem;
  text-align: center;
}

#section-inspiration h2 {
  margin-bottom: 1.5rem;
}

#section-inspiration p {
  font-size: 1.5rem;
  color: #9299a4;
  margin-bottom: 2rem;
}

#section-inspiration .flex {
  flex-wrap: wrap;
  justify-content: space-around;
}

#section-inspiration .flex div {
  width: 28%;
  margin-bottom: 2rem;
}

#section-inspiration .flex div img {
  width: 100%;
}

#section-inspiration .disclaimer {
  font-size: 1rem;
}

@media only screen and (max-width: 980px) {
  #section-inspiration {
    margin: 0rem 1rem;
  }

  #section-inspiration .flex img {
    width: 100%;
  }
}

#section-footer div {
  display: flex;
}

#section-footer div div {
  height: 1rem;
  width: 14.2857%;
}

.popout {
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
}
@keyframes popout {
  from {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}

.square {
  width: 1rem;
  height: 1rem;
}

.dot {
  width: 1.2rem;
  height: 1.2rem;
}

.yellow {
  background-color: #ffed00;
}

.blue {
  background-color: #009fe3;
}

.black {
  background-color: black;
}

.pink {
  background-color: #e6007e;
}

.grey {
  background-color: #c6c6c6;
}

.darkgrey {
  background-color: #162e4e;
}

.green {
  background-color: #35b07c;
}

.darkblue {
  background-color: #312783;
}
